*{
    margin: 0;
    padding: 0;
}
.head {
    background: url(../img/bg-photo.png)no-repeat center center; 
    background-size: cover;
    height: 640px;
    background-repeat: no-repeat;
    padding: 40px;
    display: flex;
    align-items: center;

}
.border {
    width: 100%;
    height: 100%;
    border: 2px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    position: relative;
}
.content-of-head {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 227px;
    color: white;
}
.detail {
    transform: translate(0,50%);
    position: absolute;
    margin-bottom: 0px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 27px;
    width: 100.3%;
    text-align: center;
    bottom: 0;
    border:solid 2px orange;
    border-left: none;
    border-right: none;
    border-bottom: none;
    overflow: hidden;
}
.navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 19px;
    list-style-type: none;
    border-bottom: 1px solid #b7b7b7;
}
.navbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.navbar-item {
    padding: 20px;
}
.navbar .navbar-list .navbar-item a{
    width: 78px;
    padding: 20px;
}
.navbar .navbar-list .navbar-item a:link {
    text-decoration: none;
}
.navbar .navbar-list .navbar-item a:hover {
    color: #D8D8D8;
    border-bottom: 5px solid orange;
    width: 100px;
}
.article-second {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.head-second {
    text-align: center;
    font-size: 38px;
    padding-top: 83px;
    color: #4e5665;
}
.content-second {
    margin: 40px 235px 68px;
    font-size: 16px;
    line-height: 1.75;
    color: #4e5665;
}
.read-more {
    margin: 5px;
    color:orange;
    font-family: Arial, Helvetica, sans-serif;
}
.read-more:link {
    text-decoration: none;
}
.image-head-second {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px 310px;
    text-align: center;
}
.number {
    font-weight: bold;
    margin-top: 32px;
    color: #4e5665;
    font-size: 22px;
}
.name {
    height: 19px;
    color: #909090;
    font-size: 14px;
    margin-bottom: 60px; 
}
.image-extras {
    width: 100%;
    height: 550px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture-small {
    position: absolute;
}
.left {
    right: 45%;
}
.right {
    left: 45%;
}
.paragraph-beside-image-small {
    width: 470px;
    height: 289px;
    background-color: #f8f8f8;
    position: absolute;
    z-index: 2;
}
.paragraph-left{
    left: 50%;
}
.paragraph-right {
    right: 50%;
}
.box-icon {
    width: 33px;
    height: 33px;
    z-index: 4;
    position: absolute;
}
.root{
    border-top: 1px solid #ecb84c;
    border-left: 1px solid #ecb84c;
    margin: 19px 0px 0px 19px;
}
.opposite {
    margin: 237px 0px 0px 418px;
    border-bottom: 1px solid #ecb84c;
    border-right: 1px solid #ecb84c;
}

.content-box {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: normal;
    color: #505050;
    margin: 81px 40px 40px;
}
.head-box {
    font-size: 24px;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: normal;
    color: #4e5665;
    z-index: 3;
    position: absolute;
    margin: 40px 0px 0px 40px;
}
.head-third {
    color: #ecb84c;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 80px;
}
.image-car {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.carosel-picture {
    transform:translate(5%,0);
    width: 90%;
    height: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-picture {
    position: absolute;
    z-index: 1;
    right: 65%
}
.right-picture {
    position: absolute;
    left: 65%;
    z-index: 1;
}
.between-left-picture {
    position: absolute;
    z-index: 2;
    left: 45%;
}
.between-right-picture {
    position: absolute;
    z-index: 2;
    right: 45%;
}
.mid-picture {
    position: absolute;
    z-index: 3;
}
.footer {
    background-color: #f8f8f8;
    width: 100%;
    height: 300px;
    padding-top: 58px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-top: 0.5px solid #dedddd;
}
.label { 
    color: #37c491;
    font-size: 34px;
    font-family: AvenirNext;
}
.select-box-content {
    width: 140px;
    height: 32px;
}
.head-footer {
    margin-bottom: 20px;
    font-family: AvenirNext;
    font-size: 15px;
    line-height: 1.33;
    color: #4e5665;
}
.content-head-footer {
    margin-bottom: 8px;
    font-size: 18px;
    font-family: AvenirNext;
    line-height: 1.36;
    letter-spacing: normal;
    color: #505050;
}
.block-footer {
    margin: 0px  0px 0px 50px;
}